<a href="https://colab.research.google.com/github/mdmorgan16/AI_Startup_Prototype/blob/master/MMorgan_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [33]:
import numpy as np

In [7]:
employees = pd.read_csv('employee_general.csv')

In [38]:
employees = np.loadtxt('employee_general.csv', dtype = np.float64)

ValueError: could not convert string 'EmployeeNumber|Education|EducationField|MaritalStatus' to float64 at row 0, column 1.

In [11]:
print(employees)

     EmployeeNumber|Education|EducationField|MaritalStatus
0                        1|College|Life Sciences|Single
1                 2|Below College|Life Sciences|Married
2                                4|College|Other|Single
3                        5|Master|Life Sciences|Married
4                       7|Below College|Medical|Married
...                                                 ...
1465                       2061|College|Medical|Married
1466                 2062|Below College|Medical|Married
1467                2064|Bachelor|Life Sciences|Married
1468                      2065|Bachelor|Medical|Married
1469                      2068|Bachelor|Medical|Married

[1470 rows x 1 columns]

In [17]:
print(type(employees))

<class 'pandas.core.frame.DataFrame'>

In [24]:
print(employees.dtypes)

EmployeeNumber|Education|EducationField|MaritalStatus    object
dtype: object

In [9]:
ratings = pd.read_csv('employee_rating.csv')

In [37]:
ratings = np.loadtxt('employee_rating.csv', dtype = np.float64)

ValueError: could not convert string 'EmployeeNumber,Department,EnvironmentSatisfaction,JobRole,PerformanceRating,YearsAtCompany,YearsInC to float64 at row 0, column 1.

In [16]:
print(ratings)

      EmployeeNumber              Department EnvironmentSatisfaction  \
0                  1                   Sales                  Medium
1                  2  Research & Development                    High
2                  4  Research & Development               Very High
3                  5  Research & Development               Very High
4                  7  Research & Development                     Low
...              ...                     ...                     ...
1465            2061  Research & Development                    High
1466            2062  Research & Development               Very High
1467            2064  Research & Development                  Medium
1468            2065                   Sales               Very High
1469            2068  Research & Development                  Medium

                        JobRole PerformanceRating  YearsAtCompany  \
0               Sales Executive         Excellent               6
1            Research Scientist       Outstanding              10
2         Laboratory Technician         Excellent               0
3            Research Scientist         Excellent               8
4         Laboratory Technician         Excellent               2
...                         ...               ...             ...
1465      Laboratory Technician         Excellent               5
1466  Healthcare Representative         Excellent               7
1467     Manufacturing Director       Outstanding               6
1468            Sales Executive         Excellent               9
1469      Laboratory Technician         Excellent               4

      YearsInCurrentRole  MonthlyIncome
0                      4           5993
1                      7           5130
2                      0           2090
3                      7           2909
4                      2           3468
...                  ...            ...
1465                   2           2571
1466                   7           9991
1467                   2           6142
1468                   6           5390
1469                   3           4404

[1470 rows x 8 columns]

In [18]:
print(type(ratings))

<class 'pandas.core.frame.DataFrame'>

In [25]:
print(ratings.dtypes)

EmployeeNumber              int64
Department                 object
EnvironmentSatisfaction    object
JobRole                    object
PerformanceRating          object
YearsAtCompany              int64
YearsInCurrentRole          int64
MonthlyIncome               int64
dtype: object

In [32]:
ratings = pd.to_numeric(ratings['EmployeeNumber'])

KeyError: 'EmployeeNumber'

In [31]:
ratings = pd.to_numeric(ratings['MonthlyIncome'])

KeyError: 'MonthlyIncome'

In [43]:
log_data1 = np.log(employees)

TypeError: loop of ufunc does not support argument 0 of type str which has no callable log method

In [39]:
log_data = np.log(ratings)

In [41]:
ratings_with_log = np.hstack([ratings, log_data])

In [23]:
all = pd.merge(employees, ratings)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False